<div class="col-md-12">
  <% @reddits.each do |reddit| %>
    <h2><%= reddit.title %></h2>
    <h3>submit by <a href="#" data-toggle="tooltip" title="<%= current_user.email %>"><%= current_user.name %></a></h3>
    <br>
    <%= link_to("See link", reddit_path(reddit), class: "btn btn-info")%>
    <% if reddit.editable_by?(current_user)%>
      <%= link_to("Edit", edit_reddit_path(reddit), class: "btn btn-default")%>
      <%= link_to("Delete", reddit_path(reddit), class: "btn btn-danger",
                  method: :delete, data: { confirm: "Are you sure?"})%>
    <% end %>
  <% end %>
</div>
